:root{
    --bg-color: #0f1729;
    --h1-color: #fac814;
    --p-color: #fff;
    --p2-color: #a6a6a6;
    --border-smooth: #a6a6a632;
    --elements-color: #18212f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


body {
    background-color: var(--bg-color);
    color: var(--text-main);
    display: flex;
    min-height: 100vh;
}

main{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer{
    width: 100%;
    background-color: #0f141c;
    display: block;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    margin-top: 40px;
    padding: 20px;
}
footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--p2-color);
    font-size: 13px;
    
}

input:focus{
    outline: none;
}


